# Physical scales in SI units
l_phys              10
g_phys              9.80665
nu_phys             1.48e-5

# Simulation setup
num_trials          4
gliders_per_trial   8
duration_phys       200
random_seed         100

# Lift and drag constants
c_L                 1
c_D                 0.0666666666666666666667
ctl_duration_phys   1
bank_angle_step     10
bank_angle_range    -4 4
bank_angle_control  -1 1
integration_type    improv_e
glider_ts_pad       0.5

# Wind field dimensions
wf_modes            64
box_size            50
wind_rms_phys       1.73205080756888
wind_C_phys         64
wind_ts_pad         0.2

# Wind prediction model
wind_model          full_cubic
hermite_segments    20
#gpr_memory          50
#gpr_samp_per_ctl    2
#gpr_k_rt_param      160 160 1.25

# Planning
planning            mcts
n_mcts              1000
mcts_depth          12
mcts_ex_fac         1

# Output types
output_per_ctl      4
snapshots           glider_mb
summary             climb_stats
